<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title">Student Profile</h4>
            </div>
            <div class="card-body">
                <div class="row py-2 my-4">
                    <div class="col-md-4">
                        <div class="card card-profile">
                            <div class="card-avatar">
                                <a href="javascript:void(0)">
                                    <img class="img"
                                        src="https://cdn3.iconfinder.com/data/icons/vector-icons-6/96/256-512.png" />
                                </a>
                            </div>
                            <div class="card-body">
                                <h6 class="card-category text-gray">Department</h6>
                                <h4 class="card-title">Student Name</h4>
                                <p class="card-description">
                                    <i class="fa fa-phone fa-lg" aria-hidden="true"></i>
                                    +91 983994848
                                </p>
                                <a href="javascript:void(0)" class="btn btn-danger btn-round"><i
                                        class="fa fa-download"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-header">
                                <h3><b>About</b></h3>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        <h4>Full Name</h4>
                                        <h5>First Last</h5>
                                    </div>
                                    <div class="col-md-3">
                                        <h4>Mobile</h4>
                                        <h5>(+91) 934589348</h5>
                                    </div>
                                    <div class="col-md-3">
                                        <h4>Email</h4>
                                        <h5>name@gmail.com</h5>
                                    </div>
                                    <div class="col-md-3">
                                        <h4>Location</h4>
                                        <h5>India</h5>
                                    </div>
                                    <br>
                                    <div class="col-sm-6" style="text-align: left;">
                                        <h6><b>Gender</b></h6>
                                        <p>Female</p>
                                    </div>
                                    <div class="col-sm-6" style="text-align: right;">
                                        <h6><b>Department</b></h6>
                                        <p>Computer Science</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 my-4">
                                        <h4><b>Skills</b></h4>
                                    </div>
                                    <div class="col-md-12">
                                        <mat-chip-list aria-label="Dog selection">
                                            <ng-container *ngFor="let skill of skills">
                                                <mat-chip color="info">
                                                    {{skill}}
                                                </mat-chip>
                                            </ng-container>
                                        </mat-chip-list>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 mt-4">
                                        <h4><b>Projects</b></h4>
                                    </div>
                                    <div class="col-md-12">
                                        <ng-container *ngFor="let project of projects; let i">
                                            <div class="card">
                                                <div class="card-header">#{{i}}</div>
                                                <div class="card-body">
                                                    <h5 class="card-title">{{project.projectName}}</h5>
                                                    <p class="card-text">{{project.projectDesciption}}</p>
                                                </div>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>