<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">people</i>
                        </div>
                        <p class="card-category">Total student</p>
                        <h3 class="card-title">{{totalStudents}}</h3>
                    </div>
                    <div class="card-footer">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">store</i>
                        </div>
                        <p class="card-category">Total departments</p>
                        <h3 class="card-title">{{totalDepartments}}</h3>
                    </div>
                    <div class="card-footer">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">school</i>
                        </div>
                        <p class="card-category">Total teachers</p>
                        <h3 class="card-title">{{totalTeacher}}</h3>
                    </div>
                    <div class="card-footer">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="fa fa-book" aria-hidden="true"></i>
                        </div>
                        <p class="card-category">Total courses</p>
                        <h3 class="card-title">{{totalCourses}}</h3>
                    </div>
                    <div class="card-footer">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-chart">
                    <div class="card-header">
                        <h4 class="card-title">Course enrollment</h4>
                        <p class="card-category">Last Campaign Performance</p>
                    </div>
                    <div class="card-body">
                        <div class="ct-chart" id="websiteViewsChart"></div>
                        <!-- <h4 class="card-title">Course enrollment</h4>
                        <p class="card-category">Last Campaign Performance</p> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title">New addmission lists</h4>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <thead class="text-success text-bold">
                                <th>Roll no</th>
                                <th>Name</th>
                                <th>Department/ Stream</th>
                                <th>Gender</th>
                                <th>Mobile no.</th>
                                <th>Email</th>
                                <th>Admission date</th>
                                <th>Actions</th>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let student of studentList">
                                    <tr>
                                        <td>{{student.enrollment}}</td>
                                        <td>{{student.firstName}} {{student.lastName}}</td>
                                        <td>
                                            <p class="fw-normal mb-1">{{student.course}}, {{student.branch}}</p>
                                            <p class="text-muted mb-0">{{student.department}}</p>
                                        </td>
                                        <td>
                                            <ng-container *ngIf="student.gender === 'Male'; else elseBlock">
                                                <span
                                                    class="badge badge-info rounded-pill d-inline">{{student.gender}}</span>
                                            </ng-container>
                                            <ng-template #elseBlock>
                                                <span
                                                    class="badge badge-success rounded-pill d-inline">{{student.gender}}</span>
                                            </ng-template>
                                        </td>
                                        <td>{{student.phoneNumber}}</td>
                                        <td>{{student.email}}</td>
                                        <td>{{student.dateOfAdmission}}</td>
                                        <td>
                                            <button mat-icon-button color="warn">
                                                <mat-icon>delete</mat-icon>
                                            </button>
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>